@import "variables.css";

/*Header/Body CSS*/
html,body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: var(--bg-main);
    color: var(--primary-inv);
    font-family: 'Noto Sans', sans-serif;
}

#main-content {
    height: calc(100vh - 9rem);
}

/*view Header CSS*/
#view {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    width: 100vw;

}

#viewHeader {
    display:flex;
    align-items:flex-start;
    width: 100%;
    height: 10%;
    z-index: 1;
}


/*header buttons css*/
#headerButtons {
    display:flex;
    flex-direction: row;
    justify-content: left;
    width: 25%;
    height: 100%;
}

.headerButton {
    width: fit-content;
    height: calc(35px * var(--scale));
    padding: calc(6px * var(--scale));
    margin-top: 10px;
    margin-inline: calc(10px * var(--scale));
    margin-right: calc(0 * var(--scale));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary);
    border-radius: calc(10px * var(--scale));
    color: var(--primary-inv);
    font-weight: bold;
    font-size: calc(1rem * var(--scale));
    transition-duration: 0.1s;
    border: 0;
    z-index: 1;
}

.headerButton:hover {
    background-color: var(--secondary-inv);
    color: var(--special)
}


/*view selector css */
#viewSelect {
    display: flex;
    flex-direction: row;
    width:50%;
    height: 100%;
    justify-content: center;
}

#vsBox {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: calc(35px  * var(--scale));
    white-space: nowrap;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: calc(10px * var(--scale));
    background-color: var(--primary);
    min-width: fit-content;
    min-height: fit-content;
}

.viewSButton {
    height: 80%;
    width: fit-content;
    margin-inline: 0px;
    min-height: fit-content;
    padding: 0;
    border: 0;
    z-index: 1;
    padding: calc(6px * var(--scale));
    margin: calc(4px * var(--scale));
    background-color: var(--secondary);
    border-radius: calc(10px * var(--scale));
    font-size: calc(1rem * var(--scale));
    font-weight: bold;
    color: var(--primary-inv);
    transition-duration: 0.1s;
}

.viewSButton:hover {
    background-color: var(--secondary-inv);
    color: var(--primary)
}

.VBSelected {
    background-color: var(--secondary-inv);
    color: var(--primary)
}


/*info panel css*/
#infoPanel {
    width:25%;
    height: fit-content;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 0;
    background-color: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: calc(10px * var(--scale));
    margin: calc(10px * var(--scale));
    opacity: 0.95;
}


#collapseDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: calc(4px * var(--scale));
    margin-inline: calc(12px * var(--scale));
}

#collapseName {
    flex-grow: 1;
    font-size: calc(1rem * var(--scale));
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.nameCollapse {
    visibility: hidden;
}


#collapseButton {
    background: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    margin: 0;
}

#infoList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow:auto;
}

.ILCollapse {
    visibility: collapse;
    height: 0;
}

.property {
    display:flex;
    flex-direction: column;
    padding: calc(12px * var(--scale));
    flex-grow: 1;
}

#property-name {
    margin:0;
    font-size: calc(1.4rem * var(--scale));
    font-weight: bold;
}

.propertyName {
    font-size: calc(1rem * var(--scale));
    font-weight: bold;
    margin: 0;
    padding-bottom: calc(0.2rem * var(--scale));
}

.propertyInfo {
    margin: 0;
    font-size: calc(0.8rem * var(--scale));
}

#owner {
    color: dodgerblue;
    transition-duration: 0.05s;
}

#owner:hover {
    text-decoration: underline;
}




/*SVG CSS*/
#SVGDiv {
    width: 100%;
    height: 90%;
}

.gridCell {
    fill: var(--bg-main);
    stroke: var(--primary-inv);
}

/*Object CSS*/
.objectTextName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    fill: var(--special);
    text-rendering: optimizeLegibility;
}

.objectTextPos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    fill: var(--special);
    text-rendering: optimizeLegibility;
}

.objectSelected {
    fill: skyblue;
}

/*Relationship CSS*/
.relLine {
    stroke: var(--primary-inv);
}

.relText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 0.8rem;
    fill: var(--special);
    text-rendering: optimizeLegibility;
} 
