@import "variables.css";

/*Header/Body CSS*/
html,body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: var(--bg-main);
    color: var(--primary-inv);
    font-family: 'Noto Sans', sans-serif;
}

#main-content {
    height: calc(100vh - 9rem);
}

/*view css*/
#view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    width: 100%;

}

.noHover {
    pointer-events: none;
}

.addHover {
    pointer-events: auto;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-inv) var(--secondary);
}


/*header buttons css*/
#headerButtons {
    position: absolute;
    left: calc(0.5rem * var(--scale));
    top: calc(0.5rem * var(--scale));
    display:flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    max-width: 50%;
    height: fit-content;
    gap: calc(0.4rem * var(--scale));
}

#headerButtons button {
    width: fit-content;
    height: calc(2rem * var(--scale));
    padding: calc(0.3rem * var(--scale));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary);
    border-radius: calc(10px * var(--scale));
    color: var(--primary-inv);
    font-weight: bold;
    font-size: calc(1rem * var(--scale));
    border: 0;
    z-index: 1;
    opacity: 0.95;
    pointer-events: auto;
}

#headerButtons button:hover {
    background-color: var(--secondary-inv);
    color: var(--primary)
}

.editSelected {
    background-color: var(--secondary-inv);
    color: var(--primary)
}

.editSelected:hover {
    background-color: var(--secondary);
    color: var(--primary-inv)
}

#grid-button {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: fit-content;
    height: calc(2rem * var(--scale));
    padding: calc(0.3rem * var(--scale));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: calc(10px * var(--scale));
    font-weight: bold;
    font-size: calc(1rem * var(--scale));
    border: 0;
    z-index: 1;
    opacity: 0.95;
    pointer-events: auto;

    background-color: var(--secondary);
    color: var(--primary-inv);
}

#grid-button:hover {
    background-color: var(--secondary-inv);
    color: var(--primary);
}


/*info panel css*/
#infoPanel {
    position: absolute;
    width:25%;
    height: fit-content;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 0;
    opacity: 0.95;
    z-index: 1;
    top: calc(0.5rem * var(--scale));
    right: calc(0.5rem * var(--scale));
    background-color: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: calc(10px * var(--scale));
    pointer-events: auto;
}

#collapseDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: calc(4px * var(--scale));
    margin-inline: calc(12px * var(--scale));
}

#collapseName {
    width: fit-content;
    max-width: 90%;
    margin: 0;
    margin-right: auto;
    font-size: calc(1rem * var(--scale));
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

#collapseName:hover {
    text-decoration: underline;
    color: dodgerblue;
}

.nameCollapse {
    visibility: hidden;
}


#collapseButton {
    background: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    margin: 0;
    pointer-events: auto;
}

#infoList {
    display: flex;
    flex-direction: column;
    gap: calc(12px * var(--scale));
    border-radius: calc(10px * var(--scale));
    overflow-y: auto;
    overflow-x: hidden;
    transition-duration: 0;
    transition-property: padding;
}

.ILOpen {
    padding: 0;
    padding-inline: calc(10px * var(--scale));
    margin: 0;
    margin-bottom: calc(12px * var(--scale));
}

.ILCollapse {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.property {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

#propertyName {
    margin: 0;
}

#infoName {
    margin:0;
    font-size: calc(1.3rem * var(--scale));
    font-weight: bold;
}

#infoName:hover {
    text-decoration: underline;
    color: dodgerblue;
}

#infoOwner {
    margin: 0;
    font-size: calc(0.8rem * var(--scale));
}

#owner {
    pointer-events: auto;
}

#owner:hover {
    color: dodgerblue;
    text-decoration: underline;
}

#infoDescriptionTitle {
    font-size: calc(1rem * var(--scale));
    font-weight: bold;
    margin: 0;
    padding-bottom: calc(0.2rem * var(--scale));
}

#infoDescription {
    margin: 0;
    font-size: calc(0.8rem * var(--scale));
}


/*Edit CSS*/
#editDiv {
    background-color: var(--secondary);
    position: absolute;
    z-index: 1;
    top: calc(3rem * var(--scale));
    left: calc(0.5rem * var(--scale));
    min-width: fit-content;
    width: 25%;
    border-radius: calc(10px * var(--scale));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

#editContent {
    background-color: var(--secondary);
    border-radius: calc(10px * var(--scale));
    transition-duration: 0.2s;
    transition-property: height;
    overflow-y: clip;
}

#editContent button {
    height: fit-content;
    width: fit-content;
    border: 0;
    font-size: calc(1rem * var(--scale));
    font-weight: bold;
    padding: calc(2px * var(--scale));
    padding-inline: calc(4px * var(--scale));
    margin: calc(2px * var(--scale));
    margin-left: auto;
    margin-right: calc(12px * var(--scale));
    border-radius: calc(20px * var(--scale));
    background-color: var(--primary);
    color: var(--primary-inv);
}

#editContent button:hover {
    background-color: var(--primary-inv);
    color: var(--primary)
}

.contentHidden {
    visibility: hidden;
    height: 0;
}

.contentVisible {
    visibility: visible;
    height: fit-content;
}

/* editheader css*/
#editHeader {
    display: flex;
    align-items: center;
    border: 0;
    border-bottom: 1px solid var(--primary-inv);
}

#itemHeader {
    margin: 0;
    border: 0;
    width: fit-content;
    height: fit-content;
    font-size: calc(1rem * var(--scale));
    padding: calc(4px * var(--scale));
    padding-left: calc(12px * var(--scale));
    padding-right: calc(12px * var(--scale));
}

/*#new-button {
    height: fit-content;
    width: fit-content;
    border: 0;
    font-size: calc(1rem * var(--scale));
    font-weight: bold;
    padding: calc(2px * var(--scale));
    padding-inline: calc(4px * var(--scale));
    margin: calc(2px * var(--scale));
    margin-left: auto;
    margin-right: calc(12px * var(--scale));
    border-radius: calc(20px * var(--scale));
    background-color: var(--primary);
    color: var(--primary-inv);
} 

#new-button:hover {
    background-color: var(--primary-inv);
    color: var(--primary)
}*/


/* object/relationships list css*/
#itemList {
    margin: 0;
    height: fit-content;
    max-height: calc(250px * var(--scale));
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 0;
}

#itemList li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--primary-inv);
}

.itemTitle {
    margin: 0;
    font-size: calc(0.8rem * var(--scale));
    margin-left: calc(6px * var(--scale));
    margin-right: calc(6px * var(--scale));
    padding: calc(2px * var(--scale));
    padding-inline: 0;
    overflow-x: clip;
}

/*.itemEdit {
    height: fit-content;
    width: fit-content;
    border: 0;
    font-size: calc(0.8rem * var(--scale));
    font-weight: bold;
    padding: calc(2px * var(--scale));
    padding-inline: calc(4px * var(--scale));
    margin: calc(2px * var(--scale));
    margin-left: auto;
    margin-right: calc(6px * var(--scale));
    border-radius: calc(20px * var(--scale));
    background-color: var(--primary);
    color: var(--primary-inv);
}

.itemEdit:hover {
    background-color: var(--primary-inv);
    color: var(--primary)
}*/


/* edit/new item css*/
.propsList {
    margin: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    list-style: none;
    height: fit-content;
    padding: calc(4px * var(--scale));
    padding-inline: 0;
}

.propsList li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: calc(2px * var(--scale));
    padding-inline: calc(8px * var(--scale));
    gap: calc(4px * var(--scale));
}

.propsList li label {
    font-size: calc(0.8rem * var(--scale));
    vertical-align: baseline;
}

.propsList li textarea {
    resize: vertical;
    max-height: calc(8rem * var(--scale));
}

.editInput {
    font-size: calc(0.8rem * var(--scale));
    margin-left: auto;
    width: 60%;
}

#newButtons {
    display: flex;
    justify-content: right;
    height: fit-content;
    gap: calc(8px * var(--scale));
    padding-right: calc(8px * var(--scale));
    padding-bottom: calc(4px * var(--scale));
}

#newButtons button {
    margin-left: 0;
    margin-right: 0;
}



/*SVG CSS*/
#SVGDiv {
    background: transparent;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#SVGDraw {
    position: relative;
    z-index: 0;
    pointer-events: all;
}

.gridCell {
    fill: var(--bg-main);
    stroke: var(--primary-inv);
}

/*Object CSS*/
.objectTextName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    fill: var(--special);
    text-rendering: optimizeLegibility;
}

.objectTextPos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    fill: var(--special);
    text-rendering: optimizeLegibility;
}

.objectSelected {
    fill: skyblue;
}

/*Relationship CSS*/
.relLine {
    stroke: var(--primary-inv);
}

.relText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 0.8rem;
    fill: var(--special);
    text-rendering: optimizeLegibility;
}

/* explore ui css */
#nodeInfo {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 0;
    background-color: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: calc(10px * var(--scale));
    margin: calc(5px * var(--scale));
    padding: calc(5px * var(--scale));
    opacity: 0.95;
    list-style: none;
}

#foreignObject {
    overflow: auto;
}

/*Info CSS*/
#infoDiv {
    background-color: var(--secondary);
    position: absolute;
    z-index: 2;
    top: calc(3rem * var(--scale));
    left: calc(0.5rem * var(--scale));
    width: 25%;
    border-radius: calc(10px * var(--scale));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
    max-height: calc(100% - (3.5rem * var(--scale)));
    overflow-y: auto;
}
#infoDiv p{
    margin: 0;
}

#infoContent {
    background-color: var(--secondary);
    border-radius: calc(10px * var(--scale));
    transition-duration: 0.2s;
    transition-property: height;
    overflow-y: auto;
}

#infoItemList {
    margin: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: calc(10px * var(--scale));
    display: flex;
    flex-direction: column;
    gap: calc(4px * var(--scale));
}
#infoItemList li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1px;
    gap: calc(4px * var(--scale));;
    padding: 0;
}

.infoTitle {
    margin: 0;
    font-size: calc(0.8rem * var(--scale));
    padding-inline: 0;
    overflow-x: clip;
    font-weight: bold;
    width: 30%;
}

.infoBox {
    height: fit-content;
    width: 70%;
    margin-right: calc(1px * var(--scale));
    padding: 0;
    padding-left: calc(10px * var(--scale));
    list-style: none;
    margin-top: 0;
}
.infoBox a {
    color: var(--primary-inv);
}
.infoBox a:hover {
    color: var(--primary-inv);
    text-decoration: underline;
    font-weight: normal;
}
.infoBox li{
    margin: 0px;
}
