<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>

    <link rel="icon" type="image/x-icon" href="/static/img/symbol.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand|Noto+Sans">
	<link rel="stylesheet" href="/static/css/jquery-ui-1.12.1/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.2.0/svg.min.js"></script>

    <link rel="stylesheet" href="/static/css/header.css">
	<link rel="stylesheet" href="/static/css/footer.css">

    <link rel="stylesheet" href="/static/css/networks.css">
</head>
<body>
    <div id="page-container">
    <div id="content-wrap">
        <!-- Include header -->
        <div id="header"></div>

        <!--page body-->
        <main id="main-content" role="main" aria-labelledby="property-name">
            <div id="view" aria-live="polite">
                <div id="viewHeader">
                    <div id="infoPanel" aria-live="polite">
                        <div id="collapseDiv" >
                            <a id="collapseName" class="nameCollapse">Test Network</a>
                            <button id="collapseButton" aria-label="collapse info panel"><img src="/static/img/arrow.svg" aria-hidden="true" id="collapseIcon"></button>
                        </div>
                        <div id="infoList" class="scrollbar ILOpen">
                            <div class="property" id="propertyName">
                                <a id="infoName">Test Network</a>
                                <p id="infoOwner">By <span>
                                    <a id="owner">Developer</a>
                                </span></p>
                            </div>
                            <div class="property" id="propertyDescription">
                                <h2 id="infoDescriptionTitle">Description</h2>
                                <p id="infoDescription">Network Description</p>
                            </div>
                        </div>
                    </div>

                    <button id="grid-button">Grid</button>

                    <div id="headerButtons">
                        <button id="info-button">Info</button>
                        <button id="edit-button">Edit</button>
                        <button class="invisible" id="objects-button">Objects</button>
                        <button class="invisible" id="relationships-button">Relationships</button>
                    </div>

                    <div id="editDiv" class="invisible" role="region" aria-label="Edit Panel" aria-live="polite" aria-hidden="true">
                        <div id="editContent" class="contentHidden">
                            <div id="listHTML">
                                <div id="editHeader">
                                    <h3 id="itemHeader">Items</h3>
                                    <button id="new-button">New</button>
                                </div>
                                <ul id="itemList" class="scrollbar">
                                    <li ><p class="itemTitle">Item</p><button class="itemEdit">Edit</button></li>
                                </ul>
                            </div>
                            <div id="editHTML" >
                                <div id="editHeader">
                                    <h3 id="itemHeader">Items</h3>
                                </div>
                                <ul class="propsList" id="editPropsList">
    
                                </ul>
                                <ul id="objectProps">
                                    <li><label for="Name">Name:</label><input class="editInput" name="name" type="text" placeholder="Name"></li>
                                    <li><label for="Name">Author:</label><input class="editInput" name="author" type="text" placeholder="Author"></li>
                                    <li><label for="Position">Position:</label><input class="editInput" name="position" type="text" placeholder="Position"></li>
                                    <li><label for="Type">Type:</label><input class="editInput" name="type" type="text" placeholder="Type"></li>
                                    <li><label for="Description">Description:</label><textarea class="editInput" name="description" type="text" placeholder="Object Description"></textarea></li>
                                    <li><label for="Image">Image:</label><input class="editInput" name="image" type="url" placeholder="None"></li>
                                </ul>
                                <ul id="relProps">
                                    <li><label for="Type">Type:</label><input class="editInput" name="type" type="text" placeholder="Type"></li>
                                    <li><label for="Connect1">Connection 1:</label><input class="editInput" name="connect1" type="text" placeholder="Object Name"></li>
                                    <li><label for="Connect2">Connection 2:</label><input class="editInput" name="connect2" type="text" placeholder="Object Name"></li>
                                    <li><label for="Style">Line Style:</label><input class="editInput" name="style" type="text" placeholder="Style-Temp"></li>
                                    <li><label for="Color">Line Color:</label></label><input class="editInput" name="color" type="text" placeholder="Color-Temp"></li>
                                </ul>
                            </div>
                            <div id="newHTML" >
                                <div id="editHeader">
                                    <h3 id="itemHeader">Items</h3>
                                </div>
                                <ul class="propsList" id="newPropsList">
    
                                </ul>
                                <div id="newButtons">
                                    <button id="cancel-button">Cancel</button>
                                    <button id="create-button">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="infoDiv" class="invisible" role="region" aria-label="Info Panel" aria-live="polite" aria-hidden="true">
                        <div id="infoContent" class="contentHidden">
                            <div id="infoListHTML">
                                <ul id="infoItemList">
                                    <li><p class="infoTitle">Name</p><ul id="nameList" class="infoBox"></ul></li>
                                    <li><p class="infoTitle">Description</p><ul id="descList" class="infoBox"></ul></li>
                                    <li><p class="infoTitle">Created By</p><ul id="createdByList" class="infoBox"></ul></li>
                                    <li><p class="infoTitle">Created Date</p><ul id="createdDateList" class="infoBox"></ul></li>
                                    <li><p class="infoTitle">Last Modified Date</p><ul id="lastModifiedList" class="infoBox"></ul></li>
                                    <li><p class="infoTitle">Node(s)</p><ul id="nodesList" class="infoBox"></ul></li>
                                    <li><p class="infoTitle">Edge(s)</p><ul id="edgesList" class="infoBox"></ul></li>
                                    <li><p class="infoTitle">Collaboration Setting</p><ul id="collabSettingList" class="infoBox"></ul></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="SVGDiv">

                </div>  
            </div>
        </main>
    </div>
    </div>

        <!-- Include footer -->
        <div id="footer"></div>

    </div>

    <script src="/views/headers/incorporateHeader.js"></script>
    <script src="/views/headers/incorporateFooter.js"></script>
    <script type="module" src="/views/networks/networks.js"></script>

</body>
</html>