<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>

    <link rel="icon" type="image/x-icon" href="/static/img/symbol.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand|Noto+Sans">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.2.0/svg.min.js"></script>

    <link rel="stylesheet" href="/static/css/header.css">
	<link rel="stylesheet" href="/static/css/footer.css">

    <link rel="stylesheet" href="/static/css/networks.css">
</head>
<body>
    <div id="page-container">
    <div id="content-wrap">
        <!-- Include header -->
        <div id="header"></div>

        <!--page body-->
        <main id="main-content" role="main">
            <div id="view">
                <div id="viewHeader">
                    <div id="headerButtons">
                        <button class="headerButton" id="back-button">Back</button>
                        <button class="headerButton" id="info-button">Info</button>
                        <button class="headerButton" id="grid-button">Grid</button>
                    </div>
                    <div id="viewSelect">
                        <div id="vsBox">
                            <button class="viewSButton" id="map-button" style="margin-right: 2px;">Map</button>
                            <button class="viewSButton" id="edit-button" style="margin-left: 2px;">Edit</button>
                        </div>
                    </div>
                    <div id="infoPanel">
                        <button id="infoCollapseButton" ><img src="/static/img/arrow.svg" alt="collapse info panel"class="collapseIcon"></button>
                        <ul id="infoList">
                            <li class="property" id="Name" style="flex-grow: 0; padding-bottom:0; padding-top:0;">
                                <h2 id="property-name">Test Network</h2>
                                <p class="propertyInfo">By <span>
                                    <a id="owner">Developer</a>
                                </span></p>
                            </li>
                            <li class="property" id="Description">
                                <h2 class="propertyName">Description</h2>
                                <p class="propertyInfo">Network Description</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="SVGDiv">
                    
                </div>
            </div>
        </main>
    </div>
    </div>

        <!-- Include footer -->
        <div id="footer"></div>

    </div>

    <script src="/views/headers/incorporateHeader.js"></script>
    <script src="/views/headers/incorporateFooter.js"></script>
    <script type="module" src="/views/networks/networks.js"></script>

</body>
</html>